.em h1 {
  width: 509px;
  color: #252b42;

  /* h1 */
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px; /* 137.931% */
  letter-spacing: 0.2px;
}
section {
  margin-top: 40px;
}
.em {
  display: flex;
  align-items: center;
  margin-right: 197px;
  flex-direction: column;
}
.em {
  color: #737373;

  /* h4 */
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
}
.btns button {
  display: flex;
  padding: 10px 36px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  border: 1px solid var(--secondary-color-1, #00a0c1);
}
.btns button p {
  color: var(--secondary-color-1, #00a0c1);
  text-align: center;

  /* btn-text */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
}
.btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btns button:hover {
  border-radius: 37px;
  background: var(--primary-color, #ffa62b);
  transition-duration: 0.5s;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 30px;
}
.cards h3 {
  color: var(--text-color, #252b42);

  /* h3 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}
.cards p {
  color: var(--second-text-color, #737373);

  /* paragraph */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
  display: flex;
  width: 328px;
  padding: 35px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.card1:hover {
  background: var(--secondary-color-1, #00a0c1);

  /* SHADOW */
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.card1 h3:hover {
  color: var(--light-text-color, #fff);

  /* h3 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}
.card1 p:hover {
  color: var(--light-text-color, #fff);

  /* paragraph */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.con {
  display: flex;
  width: 864px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.con h2 {
  color: var(--text-color, #252b42);

  /* h2 */
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}
.con p {
  color: var(--second-text-color, #737373);
  text-align: center;

  /* paragraph */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.con {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.cerds {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.cerd {
  display: flex;
  width: 328px;
  padding: 50px 40px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: #fff;
}
.cerd h6 {
  color: var(--text-color, #252b42);
  text-align: center;

  /* h6 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.cerd h5 {
  color: var(--text-color, #252b42);
  text-align: center;

  /* h5 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}
.cerd button {
  border-radius: 5px;
  border: 1px solid var(--primary-color, #ffa62b);
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cerd:hover {
  background: var(--dark-background-color, #252b42);
}
.cerd h6:hover {
  color: var(--light-text-color, #fff);
  text-align: center;

  /* h6 */
  font-family: ;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.cerd h5:hover {
  color: var(--light-text-color, #fff);
  text-align: center;

  /* h5 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}
.cerd button:hover {
  border-radius: 5px;
  border: 1px solid var(--light-text-color, #fff);
}
